<ul class="list-inline header-icons-list">
  {%- if section.settings.enable_search -%}
    <li class="header-icons-item search">
      <a
        href="{{ routes.search_url }}"
        class="header-icons-link "
        title="{{ 'general.search.search' | t }}"
        {% if settings.enable_search_drawer %}
          data-search-button
        {% endif %}
      >
    <svg width="22" height="22" viewBox="0 0 55 55" fill="none">
    <path
      d="M35.8383 40.7852L35.8384 40.7852L37.0856 40.1685L45.79 52.3644L45.79 52.3644C46.3396 53.1339 47.5434 53.3359 48.3264 52.7973L48.3266 52.7972C48.7281 52.5196 48.9917 52.1042 49.0736 51.6358L49.0737 51.6355C49.1554 51.1575 49.0452 50.6818 48.764 50.2944C48.7639 50.2943 48.7639 50.2942 48.7638 50.2941L40.0607 38.1L41.0563 37.1467L40.9872 37.0744L41.0563 37.1467C45.1335 33.2412 47.3819 28.0099 47.3819 22.4212V22.3926L47.3755 22.3822C47.3598 11.0876 38.0589 1.9 26.6378 1.9C15.207 1.9 5.9 11.1031 5.9 22.4108C5.9 33.7186 15.207 42.9217 26.6378 42.9217C29.8608 42.9217 32.9629 42.204 35.8383 40.7852ZM26.6378 39.3199C17.2063 39.3199 9.53963 31.7361 9.53963 22.4108C9.53963 13.0856 17.2061 5.50181 26.6378 5.50181C36.0694 5.50181 43.7359 13.0856 43.7359 22.4108C43.7359 31.7361 36.0694 39.3199 26.6378 39.3199Z"
      fill="currentColor" stroke="currentColor" stroke-width="0.2" />
    </svg>
        
      </a>
    </li>
  {%- endif -%}
  {%- if shop.customer_accounts_enabled and section.settings.enable_account -%}
    <li class="header-icons-item account">
      <a
        href="{%- if customer -%}{{- routes.account_url -}}{%-else-%}{{ routes.account_login_url }}{%- endif -%}"
        class="header-icons-link"
        title="{%- if customer -%}{{ 'customer.account_fallback' | t }}{%-else-%}{{ 'customer.log_in' | t }}{%- endif -%}"
      >
  <svg width="22" height="22" viewBox="0 0 55 55">
    <path
      d="M14 14C14 21.1676 19.8321 27 27 27C34.1679 27 40 21.1679 40 14C40 6.83206 34.1679 1 27 1C19.8321 1 14 6.83206 14 14ZM27 4.76262C32.0936 4.76262 36.2374 8.9062 36.2374 14C36.2374 19.0938 32.0938 23.2374 27 23.2374C21.9062 23.2374 17.7626 19.0938 17.7626 14C17.7626 8.9062 21.9062 4.76262 27 4.76262Z"
      fill="currentColor" />
    <path
      d="M2 44.4548V51.935C2 53.0759 2.87068 54 3.94571 54C5.02073 54 5.89141 53.0759 5.89141 51.935V44.4548C5.89141 38.7632 10.2571 34.13 15.6199 34.13H38.3801C43.7429 34.13 48.1086 38.7632 48.1086 44.4548V51.935C48.1086 53.0759 48.9793 54 50.0543 54C51.1293 54 52 53.0759 52 51.935V44.4548C52 36.4844 45.8905 30 38.3801 30H15.6199C8.1117 30 2 36.484 2 44.4548Z"
      fill="currentColor" />
  </svg>

      </a>
    </li>
  {%- endif -%}
    <li class="header-icons-item cart">
      <a class="header-icons-link no-js-hidden"
        href="{% if template == 'cart' or settings.enable_cartdrawer == false %}{{ routes.cart_url }}{% else %}#cart-side-drawer{% endif %}"
        {% if template != 'cart' and  settings.enable_cartdrawer == true %}
          data-sidedrawer-button
        {% endif %}
        aria-label="cart icon"
        data-id="cart-side-drawer"
      >
      <svg width="22" height="22" viewBox="0 0 55 55" fill="none">
        <path
          d="M0.8 3.46905C0.8 4.3512 1.48845 5.07744 2.35549 5.13449L2.36354 5.14669H2.47118H8.06595C9.69278 5.14669 11.3327 6.40227 11.7103 7.91878L11.7103 7.91882L18.0131 33.2165C18.734 36.1159 21.6526 38.2 24.9193 38.2H43.9709C47.1061 38.2 49.7304 36.2259 50.5015 33.2849L50.5015 33.2847L53.9678 20.02L53.9678 20.0199C54.5242 17.8895 54.0656 15.5994 52.754 13.8828L52.7534 13.8821C51.5139 12.2758 49.6525 11.3511 47.6404 11.3511H21.994C21.0759 11.3511 20.3285 12.101 20.3285 13.0201C20.3285 13.9393 21.076 14.6892 21.994 14.6892H47.6404C48.6255 14.6892 49.5054 15.1219 50.1116 15.9186L50.1126 15.9199C50.8059 16.8157 51.044 18.0308 50.7443 19.1697L50.7442 19.17L47.278 32.4347C46.8937 33.9027 45.6084 34.8562 43.968 34.8562H24.9164C23.1521 34.8562 21.5877 33.7724 21.2405 32.399L14.9379 7.10196C14.1967 4.12413 11.1781 1.8 8.06028 1.8H2.46551C1.54739 1.8 0.8 2.54993 0.8 3.46905ZM19.8 46.5C19.8 49.6428 22.3572 52.2 25.5 52.2C28.6428 52.2 31.2 49.6428 31.2 46.5C31.2 43.3572 28.6428 40.8 25.5 40.8C22.3572 40.8 19.8 43.3572 19.8 46.5ZM27.6571 46.5C27.6571 47.6847 26.6847 48.6571 25.5 48.6571C24.3153 48.6571 23.3429 47.6847 23.3429 46.5C23.3429 45.3153 24.3153 44.3429 25.5 44.3429C26.6847 44.3429 27.6571 45.3153 27.6571 46.5ZM44.5 40.8C41.3572 40.8 38.8 43.3572 38.8 46.5C38.8 49.6428 41.3572 52.2 44.5 52.2C47.6428 52.2 50.2 49.6428 50.2 46.5C50.2 43.3572 47.6428 40.8 44.5 40.8ZM44.5 48.6571C43.3153 48.6571 42.3429 47.6847 42.3429 46.5C42.3429 45.3153 43.3153 44.3429 44.5 44.3429C45.6847 44.3429 46.6571 45.3153 46.6571 46.5C46.6571 47.6847 45.6847 48.6571 44.5 48.6571Z"
          fill="currentColor" stroke="currentColor" stroke-width="0.4" />
      </svg>

        <span class="cart-count{% if cart.item_count == 0 %} hidden{% elsif cart.item_count > 99 %} count-dot{% endif %}" data-header-cart-count>
          {%- if cart.item_count < 100 and cart.item_count > 0 %}
            {{ cart.item_count }}
          {%- elsif cart.item_count > 99 -%}
            {{ '99+' }}
          {% endif -%}
        </span>
      </a>
      <noscript>
        <a href="{{ routes.cart_url }}" class="header-icons-link">
 

  <svg width="22" height="22" viewBox="0 0 55 55" fill="none">
    <path
      d="M0.8 3.46905C0.8 4.3512 1.48845 5.07744 2.35549 5.13449L2.36354 5.14669H2.47118H8.06595C9.69278 5.14669 11.3327 6.40227 11.7103 7.91878L11.7103 7.91882L18.0131 33.2165C18.734 36.1159 21.6526 38.2 24.9193 38.2H43.9709C47.1061 38.2 49.7304 36.2259 50.5015 33.2849L50.5015 33.2847L53.9678 20.02L53.9678 20.0199C54.5242 17.8895 54.0656 15.5994 52.754 13.8828L52.7534 13.8821C51.5139 12.2758 49.6525 11.3511 47.6404 11.3511H21.994C21.0759 11.3511 20.3285 12.101 20.3285 13.0201C20.3285 13.9393 21.076 14.6892 21.994 14.6892H47.6404C48.6255 14.6892 49.5054 15.1219 50.1116 15.9186L50.1126 15.9199C50.8059 16.8157 51.044 18.0308 50.7443 19.1697L50.7442 19.17L47.278 32.4347C46.8937 33.9027 45.6084 34.8562 43.968 34.8562H24.9164C23.1521 34.8562 21.5877 33.7724 21.2405 32.399L14.9379 7.10196C14.1967 4.12413 11.1781 1.8 8.06028 1.8H2.46551C1.54739 1.8 0.8 2.54993 0.8 3.46905ZM19.8 46.5C19.8 49.6428 22.3572 52.2 25.5 52.2C28.6428 52.2 31.2 49.6428 31.2 46.5C31.2 43.3572 28.6428 40.8 25.5 40.8C22.3572 40.8 19.8 43.3572 19.8 46.5ZM27.6571 46.5C27.6571 47.6847 26.6847 48.6571 25.5 48.6571C24.3153 48.6571 23.3429 47.6847 23.3429 46.5C23.3429 45.3153 24.3153 44.3429 25.5 44.3429C26.6847 44.3429 27.6571 45.3153 27.6571 46.5ZM44.5 40.8C41.3572 40.8 38.8 43.3572 38.8 46.5C38.8 49.6428 41.3572 52.2 44.5 52.2C47.6428 52.2 50.2 49.6428 50.2 46.5C50.2 43.3572 47.6428 40.8 44.5 40.8ZM44.5 48.6571C43.3153 48.6571 42.3429 47.6847 42.3429 46.5C42.3429 45.3153 43.3153 44.3429 44.5 44.3429C45.6847 44.3429 46.6571 45.3153 46.6571 46.5C46.6571 47.6847 45.6847 48.6571 44.5 48.6571Z"
      fill="currentColor" stroke="currentColor" stroke-width="0.4" />
  </svg>

          <span class="cart-count{% if cart.item_count == 0 %} hidden{% elsif cart.item_count > 99 %} count-dot{% endif %}" data-header-cart-count>
            {%- if cart.item_count < 100 and cart.item_count > 0 %}
              {{ cart.item_count }}
            {%- elsif cart.item_count > 99 -%}
              {{ '99+' }}
            {% endif -%}
          </span>
        </a>
      </noscript>
    </li>
  {% if section.settings.menu != blank or section.settings.enable_social_media or section.settings.enable_language_selector or section.settings.enable_currency_selector %}
  <li>
    <button class="hamburger-toggler" type="button" data-mobile-hamburger aria-label="Mobile hamburger">
      <div class="hamburger-toggler-icon">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </button>
  </li>
{% endif %}
</ul>
