{%- if section.settings.enable_currency_selector or section.settings.enable_language_selector -%}
  <div class="localization-form">
    {% if section.settings.enable_currency_selector %}
      {% assign formID = 'localization_form_language_currency-' | append: position %}
      {% form 'localization', id: formID, class: 'shopify-localization-form' %}
        <div class="custom-select custom-select-currency" data-custom-select data-viewinscreen-header tabindex="0">
          <div class="custom-select-button">
            <span class="custom-select-text">
              <span class="countryflags">
                {{ localization.country | image_url: width: 32 | image_tag : class: 'lazyload' }}
              </span>
              {{- localization.country.currency.iso_code -}}
            </span>
            <span class="custom-select-arrow">
              <svg width="8" height="5" viewBox="0 0 8 5" fill="none">
                <path d="M7 1L4 4L1 1" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <div
            class="custom-select-content {{ class }} {{ customClass }}"
            data-custom-select-summary
            data-viewinscreen-body
          >
          <div class="custom-select-content-inner">
            <ul class="custom-select-list">     
              {% for country in localization.available_countries %}
                <li class="custom-select-item">
                  <button
                    type="submit"
                    name="country_code"
                    id="country-{{ section.id }}-{{ forloop.index }}"
                    value="{{ country.iso_code }}"
                    class="custom-select-item-active"
                  >
                    <span class="countryflags"> 
                      {{ country | image_url: width: 32 | image_tag : class: 'lazyload' }}
                    </span>
                    <span>
                      {{- country.name }} ({{ country.currency.iso_code }}
                      {{ country.currency.symbol }})</span
                    >
                  </button>
                </li>
              {% endfor %}
            </ul>
          </div>
          </div>
        </div>
      {% endform %}
    {% endif %}
    {% if section.settings.enable_language_selector %}
      {% assign formID = 'localization_form_language_language-' | append: position %}
      {% form 'localization', id: formID, class: 'shopify-localization-form' %}
        <div class="custom-select custom-select-language" data-custom-select data-viewinscreen-header tabindex="0">
          <div class="custom-select-button">
            <span class="custom-select-text">
              {{- localization.language.iso_code | upcase }}
            </span>
            <span class="custom-select-arrow">
              <svg width="8" height="5" viewBox="0 0 8 5" fill="none">
                <path d="M7 1L4 4L1 1" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <div
            class="custom-select-content {{ class }} {{ customClass }}"
            data-custom-select-summary
            data-viewinscreen-body
          >
          <div class="custom-select-content-inner">
            <ul class="custom-select-list">
              {% for language in localization.available_languages %}
                <li class="custom-select-item">
                  <button
                    type="submit"
                    name="language_code"
                    id="language-{{ section.id }}-{{ forloop.index }}"
                    value="{{ language.iso_code }}"
                    class="custom-select-item-active"
                  >
                    {{ language.endonym_name | capitalize }}
                  </button>
                </li>
              {% endfor %}
            </ul>
          </div>
          </div>
        </div>
      {% endform %}
    {% endif %}
  </div>
{%- endif -%}
