{%- liquid
  if product == null
    assign placeholder = true
  endif
-%}
{% assign product_form_id = 'product-form-' | append: section.id %}

{% for block in section.blocks %}
  {% case block.type %}
    {%- when '@app' -%}
      {% render block %}
    {% when 'title' %}
      {% if featured_product %}
        <a {% if product == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ product.url }}"
          {% endif %} 
          class="product-title-heading h3 heading-font" {{ block.shopify_attributes }}>  
            {%- if product.title != blank -%}
              {{- product.title | escape -}}
            {%- else -%}
              {{ 'products.product.onboarding.title' | t }}
            {%- endif -%}
        </a>
      {% elsif quickView %}
          {% if placeholder %}
            <h2 class="product-title-heading h3 heading-font" {{ block.shopify_attributes }}>
              {{ 'products.product.onboarding.title' | t }}
            </h2>
          {% else %}
              <a
              class="unstyled-link product-title-heading h3 heading-font"
              href="{{ product.url }}" 
              {{ block.shopify_attributes }}
            >
              {{- product.title | strip_html -}}
            </a>
          {% endif %}

      {% else %}
        <h2 class="product-title-heading h2 heading-font" {{ block.shopify_attributes }}>
          {% if placeholder %}
            {{ 'products.product.onboarding.title' | t }}
          {% else %}
           {{ product.title | escape }} 
          {% endif %}
        </h2>
      {% endif %}
    {% when 'price' %}
      <div
        class="product-pricing no-js-hidden {% if current_variant.compare_at_price > current_variant.price %} discount-price {% endif %}"
        id="price-{{ section.id }}"
        role="status"
        data-price-wrapper
        {{ block.shopify_attributes }}
      >
        {% render 'product-price', product: product %}

        {% unless block.settings.hide_shipping_content %}
          {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
            <p class="text-xsmall product-tax-shipping">
              {%- if cart.taxes_included -%}
                {{ 'products.product.tax_included' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </p>
          {%- endif -%}
        {% endunless %}
        {% unless placeholder %}
        <div {{ block.shopify_attributes }}>
          {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
          {%- form 'product', product, id: product_form_installment_id, class: 'text-small' -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            {{ form | payment_terms }}
          {%- endform -%}
        </div>
        {% endunless %}
      </div>
    {% when 'text' %}
      <p class="product-description" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
    {% when 'sku' %}
      {% if current_variant.sku != blank %}
        <p class="product-description sku" data-variant-sku {{ block.shopify_attributes }}>
          {{ current_variant.sku }}
        </p>
      {% endif %}
    {% when 'variant' %}
      {% if product != blank %}
      {%- unless product.has_only_default_variant -%}
        <div class="product-variants-options" {{ block.shopify_attributes }}>
          {%- for option in product.options_with_values -%}
            {%- liquid
              assign variantOption = 'option' | append: option.position
              assign colorOptions = settings.color_name | downcase
              assign downOption = option.name | downcase
              assign optionIndex = forloop.index
            -%}
            <div class="product-variants-wrapper no-js-hidden">
              <h6 class="product-variants-title heading-font text-medium">{{ option.name }}
                <span class="heading-font" data-selected-variant>: {{ option.selected_value }}</span>
              </h6>
              {% if block.settings.option_style == 'swatch' %}
                <div class="product-variants-box {% if colorOptions contains downOption %}color-option circle{% endif %} ">
                  {% comment %}
                    {% render 'swatches', product: product, option: option, product_form_id: product_form_id,optionIndex: optionIndex  %}
                  {% endcomment %}
                    {%- liquid
                      assign variantOption = 'option' | append: option.position
                      assign colorOptions = settings.color_name | downcase
                      assign downOption = option.name | downcase
                    -%}
                  <ul class="product-variants-list product-loop-variants">
                      {%- for value in option.values -%}
                        {% if value.product_url != blank %}
                            {% assign isCombinedListingProduct = true %}
                      {% endif  %}
                        {% assign variantValue = product.variants
                          | where: variantOption, value
                          | compact: 'featured_media'
                          | first
                        %}
                        <li class="variant-item {% if value.selected %}active{% endif %}">
                          <label class="hidden" for="option-{{ optionIndex }}-{{ forloop.index }}-{{ section.id }}">{{- value -}}</label>
                          <input
                            class="productOption{% unless value.available %} un-available{% endunless %}" 
                            id="option-{{ optionIndex }}-{{ forloop.index }}-{{ section.id }}"
                            form="{{ product_form_id }}"
                            type="radio"
                            name="option-{{ optionIndex }}"
                            value="{{ value | escape }}"
                            title="{{ value }}"
                            {% if value.product_url != blank %}
                             data-product-url="{{ value.product_url }}"
                            {% endif  %}
                              data-value-product-id="{{ value.id }}"
                            {% if value.selected %}
                              checked 
                            {% endif %}
                          > 
                  
                          <span
                            class="variant-item-name{% if value.swatch.image != blank %} variant-img{% else %}{% if variantValue and settings.show_variant_image %} variant-img{% endif %}{% endif %}"
                            {% if colorOptions contains downOption %}
                              data-tooltip="{{ value }}"
                                  {% if variantValue and settings.show_variant_image %}
                                    style="--swatch-img:url({{ variantValue.featured_media.preview_image | image_url: width: '77' }});"
                                   {% else %}
                                      {% if value.swatch.image %}
                                          style="--swatch-img:url({{ value.swatch.image | image_url: width: '77' }});  background-position:{{ value.swatch.image.presentation.focal_point }};"
                                      {% elsif value.swatch.color %}
                                          data-color="{{ value }}"
                                          style="--swatch-color:rgb({{ value.swatch.color.rgb }});"
                                      {% else %}
                                          data-color="{{ value }}"
                                          style="--swatch-color:{{ value }};"
                                      {% endif %}
                                {% endif %}
                            {% endif %}
                            >
                            {%- unless colorOptions contains downOption -%}
                              {{- value -}}
                            {%- endunless -%}
                          </span>
                        </li>
                      {%- endfor -%}
                    </ul>
               </div>
              {% else %}
                <div class="custom-select fullwidth" data-custom-select tabindex="0">
                  <div class="custom-select-button form-control" data-type="{{ option.selected_value }}" custom>
                    <span class="custom-select-text">
                      <strong> {{ option.selected_value }}</strong>
                    </span>
                    <span class="custom-select-arrow">
                      <svg width="8" height="5" viewBox="0 0 8 5" fill="none">
                        <path d="M7 1L4 4L1 1" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </div>
                  <div class="custom-select-content" data-custom-select-summary>
                    <ul class="custom-select-list product-loop-variants">
                      {%- for value in option.values -%}
                        {% liquid
                          assign variantOption = 'option' | append: option.position
                          assign colorVariant = product.variants | where: variantOption, value | first
                          assign variantValue = product.variants | where: variantOption, value | compact: 'featured_media' | first
                        -%}
                        <li class="custom-select-item{% if value.selected %} focused{% endif %}" tabindex="0">
                          <input
                            class="productOption hidden"
                            id="option-{{ optionIndex }}-{{ forloop.index }}-{{ section.id }}"
                            form="{{ product_form_id }}"
                            type="radio"
                            name="option-{{ optionIndex }}"
                            value="{{ value | escape }}"
                            title="{{ value | escape }}"
                            {% if value.product_url != blank %}
                              data-product-url="{{ value.product_url }}"
                             {% endif  %}
                               data-value-product-id="{{ value.id }}"
                            {% if value.selected %}
                              checked
                            {% endif %}
                            custom-dropdown
                          >
                          <label
                            class="option"
                            for="option-{{ optionIndex }}-{{ forloop.index }}-{{ section.id }}"
                            data-type="{{ value | escape }}"
                          >
                            {{- value -}}
                          </label>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div> 
              {% endif %}
            </div>
          {% endfor -%}
          {% if isCombinedListingProduct  %}
            <input type="hidden" name="isCombinedListingProduct" data-combined-listing-product>
            {% endif %}
          <noscript>
            <div class="product-option-selector">
              <p class="variant-title">{{ 'products.product.product_variants' | t }}</p>
              <div class="select-box">
                <select class="form-control" name="id" form="{{ product_form_id }}">
                  {%- for variant in product.variants -%}
                    <option
                      {% if variant == product.selected_or_first_available_variant %}
                        selected="selected"
                      {% endif %}
                      {% if variant.available == false %}
                        disabled
                      {% endif %}
                      value="{{ variant.id }}"
                    >
                      {{ variant.title }}
                      {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                      - {{ variant.price | money | strip_html }}
                    </option>
                  {%- endfor -%}
                </select>
              </div>
            </div>
          </noscript>
        </div>
      {% endunless %}

      {% else %}
      <div class="product-variants-options">
      {%- for i in (1..2) -%}
        {%- liquid
          assign OptionName = 'products.product.onboarding.options.option' | append: i | append: '.label' | t
          assign downOption = OptionName | downcase
          assign optionIndex = forloop.index
          assign colorOptions = settings.color_name | downcase
        -%}
       
        {% if block.settings.option_style == 'swatch' %}
          <div class="product-variants-wrapper no-js-hidden">
            <h6 class="product-variants-title body-font text-small">{{ 'products.product.option' | t: title: OptionName }}</h6>
            <div class="product-variants-box {% if colorOptions contains downOption %}color-option circle{% endif %}">
              <ul class="product-variants-list product-loop-variants cursor-pointer">
                {%- for i in (1..5) -%}
                  {%- assign optionValue = 'products.product.onboarding.options.option'
                    | append: optionIndex
                    | append: '.value'
                    | append: i
                    | t
                  -%}
                  <li class="variant-item  {% if forloop.first %}active{% endif %}">
                    <label class="hidden" for="option-2-1">{{ optionValue }}</label>
                    <input
                      class="productOption"
                      type="radio"
                      id="option-2-1"
                      name="option-{{ optionIndex }}"
                      value="{{ optionValue }}"
                      title="{{ optionValue }}"
                      {% if  forloop.first   %}
                        checked
                      {% endif %}
                    >
                    <span
                      class="variant-item-name"
                      {% if colorOptions contains downOption %}
                        style="--swatch-color:{{ optionValue }};"
                      {% endif %}
                    >
                      {%- unless colorOptions contains downOption -%}
                        {{- optionValue -}}
                      {%- endunless -%}
                    </span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% else %}
          <div class="product-variants-wrapper no-js-hidden">   
            <h6 class="product-variants-title body-font text-small">{{ 'products.product.option' | t: title: OptionName }}</h6>
            <div class="form-group">
              <div class="custom-select fullwidth" data-custom-select="">
                <div class="custom-select-button form-control" data-type="{{ 'products.product.onboarding.options.option' | append: optionIndex | append: '.value1' | t  }}" custom>
                  <span class="custom-select-text">
                    <strong>  {{ 'products.product.onboarding.options.option' | append: optionIndex | append: '.value1' | t }}</strong>
                  </span>
                  <span class="custom-select-arrow">
                    <svg width="8" height="5" viewBox="0 0 8 5" fill="none">
                      <path d="M7 1L4 4L1 1" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
                </div>      
                <div class="custom-select-content" data-custom-select-summary>
                  <ul class="custom-select-list product-loop-variants cursor-pointer">
                    {%- for i in (1..5) -%}
                      {%- assign optionValue = 'products.product.onboarding.options.option'
                        | append: optionIndex
                        | append: '.value'
                        | append: i
                        | t
                      -%}
                    <li class="custom-select-item">
                      <input
                        class="productOption hidden"
                        id="select-product-list-{{ i }}"
                        type="radio"
                        value="{{ optionValue | escape }}"
                        title="{{ optionValue }}"
                        {% if forloop.first %}
                          checked
                        {% endif %}
                        {{- optionValue -}}
                        custom-dropdown
                      >
                        <label
                          for="select-product-list-{{ i }}"
                          class="option"
                          data-type="{{- optionValue -}}"
                        >
                          {{- optionValue -}}
                      </label>
                  </li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}


    {% when 'sizeChart' %}
      {%- liquid
        for option in product.options
          assign sizeOptions = settings.size_name | downcase

          assign sizedownOption = option | downcase

          assign optionIndex = forloop.index
          if sizeOptions contains sizedownOption
            render 'size-chart', block: block, downOption: downOption, sizeTrigger: true
          endif
        endfor
      -%}
    {% when 'inventory_status' %}
      {% render 'product-inventory-bar', product: product, current_variant: current_variant, block: block %}
    {% when 'description' %}
      <div class="product-description description rte" {{ block.shopify_attributes }}>
        {{
          product.description
          | replace: '<table', '<div class="table-main"><table '
          | replace: '</table>', '</table></div>'
        }} 
      </div>
    {%- when 'quantity_selector' -%} 
      {% render 'quantity' product, product_form_id: product_form_id, variant: product.selected_or_first_available_variant %}
    {% when 'button' %}
      {% unless placeholder  %}
      <div {{ block.shopify_attributes }}>
        {% render 'product-form',product: product, product_form_id: product_form_id, current_variant: current_variant, block: block %}
      </div>
      {% else %}
        <button type="submit" class="button atc-btn btn-block medium-btn" data-add-to-cart="" data-addtocart-wrapper="" disabled="true">
          <span data-addtocart-text="">{{ 'products.product.sold_out' | t }}</span>
          <span class="btn-loader">
            <svg width="25" height="25" viewBox="0 0 100 100">
              <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="6" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
              </circle>
            </svg>
          </span>
        </button>
      {% endunless %}
    {%- when 'social-icons' -%}
      <div
        class="product-social-icons icon-without-overlay"
        data-slide-toggle-wrapper
      >
        <div
          class="social-icons-button cursor-pointer"
        >
            <span class="heading-font">{{ 'general.social.share' | t }}</span>
        </div>
        <div
          class="social-icon-wrapper"
          data-slide-toggle-body
        >
          {%- render 'social-sharing',
            share_title: product.title,
            share_permalink: product.url,
            share_image: product
          -%}
        </div>
      </div>
    {%- when 'collapsible_tab' -%}
      {% unless section.settings.gallery_style == 'stacked' %}
      <div class="accordion-wrapper details-box-outer product-detail-accordion">
        {% if block.settings.main_collapsible_tab_heading != blank %}
          <h3 class="h3 accordion-main-heading">{{ block.settings.main_collapsible_tab_heading }}</h3>
        {% endif %}
        {% if block.settings.show_description %}
          <details class="accordion-item" data-detail-button>
            <summary class="accordion-heading detail-summary">
              <h6 class="h6">
                {% if block.settings.description_heading != blank %}
                  {{- block.settings.description_heading -}}
                {% else %}
                  {{ 'accessibility.collapsible_content_description' | t }}
                {% endif %}
              </h6>
              <span class="accordion-icon">
                <svg  width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <path class="accordion-icon-horizontal" fill-rule="evenodd" clip-rule="evenodd" d="M1.78613 9.91741H16.0533V7.42065H1.78613V9.91741Z" fill="currentColor"/>
                  <path class="accordion-icon-vertical" fill-rule="evenodd" clip-rule="evenodd" d="M7.67121 1.5354L7.67121 15.8026H10.168L10.168 1.5354L7.67121 1.5354Z" fill="currentColor"/>
                </svg>
              </span>
            </summary>
            <div class="accordion-content" detail-expand>
              <div class="accordion-content-body rte">
                {{
                  product.description
                  | replace: '<table', '<div class="table-main"><table '
                  | replace: '</table>', '</table></div>'
                }}
              </div>
            </div>
          </details>
        {% endif %}
        {% for i in (1..3) %}
          {% liquid
            assign custom_heading_index = 'heading_' | append: forloop.index
            assign heading = block.settings[custom_heading_index]
            assign description_index = 'content_' | append: forloop.index
            assign content = block.settings[description_index]
          %}
          {% if heading != blank %}
            <details class="accordion-item" data-detail-button>
              <summary class="accordion-heading detail-summary">
                <h6 class="h6">{{- heading -}}</h6>
                <span class="accordion-icon">
                    <svg  width="18" height="18" viewBox="0 0 18 18" fill="none">
                      <path class="accordion-icon-horizontal" fill-rule="evenodd" clip-rule="evenodd" d="M1.78613 9.91741H16.0533V7.42065H1.78613V9.91741Z" fill="currentColor"/>
                      <path class="accordion-icon-vertical" fill-rule="evenodd" clip-rule="evenodd" d="M7.67121 1.5354L7.67121 15.8026H10.168L10.168 1.5354L7.67121 1.5354Z" fill="currentColor"/>
                    </svg>
                </span>
              </summary>
              <div class="accordion-content" detail-expand>
                <div class="accordion-content-body rte">
                  {{ content }}
                </div>
              </div>
            </details>
          {% endif %}
        {% endfor %}
      </div>
    {% endunless %}
    {% when 'custom_liquid' %}
      <div class="custom-liquid-box" {{ block.shopify_attributes }}>
        {{
          block.settings.custom_liquid
          | replace: '<table', '<div class="table-main"><table'
          | replace: '</table>', '</table></div>'
        }}
      </div>
    {% when 'complementary_products' %}
      {% render 'complementary-products', product, section, block: block %}
    {%- when 'pickup' -%}
      {%- assign pickupAvailabilities = current_variant.store_availabilities | where: 'pick_up_enabled', true -%}
      <div
        class="pickup-availability-box"
        id="pickup-availability__container"
        data-root-url="{{ routes.root_url }}"
        {% if current_variant.available and pickupAvailabilities.size > 0 %}
          available
        {% endif %}
        data-pickup-availability
        {{ block.shopify_attributes }}
      >
        {% render 'pickup-availability', product: product, current_variant: current_variant, section: section %}
      </div>
    {%- when 'icontext' -%}
      <div class="custom-icons-box">
        <ul class="list-inline custom-icons-list">
          <li class="custom-icons-item">
            <span class="custom-icons-icon">
              {% if block.settings.icon != blank %}
                {%- liquid
                  assign imageRatio = 1 | divided_by:  block.settings.icon.aspect_ratio | times: 100 | append: '%'
                %} 
                  <div class="media-box" style="--image-ratio: {{ imageRatio }};">
                    {% render 'image', image: block.settings.icon %}
                  </div>
              {% else %}
                {% render 'icons', icon: block.settings.icon_list %}
              {% endif %}
            </span>
            {% if block.settings.text != blank %}
              <p class="custom-icons-text">{{ block.settings.text }}</p>
            {% endif %}
          </li>
          <li class="custom-icons-item">
            <span class="custom-icons-icon">
              {% if block.settings.icon_2 != blank %}
                {%- liquid
                  assign imageRatio = 1 | divided_by:  block.settings.icon_2.aspect_ratio | times: 100 | append: '%'
                %} 
                  <div class="media-box" style="--image-ratio: {{ imageRatio }};">
                    {% render 'image', image: block.settings.icon_2 %}
                  </div>
              {% else %}
                {% render 'icons', icon: block.settings.icon_list_2 %}
              {% endif %}
            </span>
            {% if block.settings.text_2 != blank %}
              <p class="custom-icons-text">{{ block.settings.text_2 }}</p>
            {% endif %}
          </li>
          <li class="custom-icons-item">
            <span class="custom-icons-icon">
              {% if block.settings.icon_3 != blank %}
                {%- liquid
                  assign imageRatio = 1 | divided_by:  block.settings.icon_3.aspect_ratio | times: 100 | append: '%'
                %} 
                  <div class="media-box" style="--image-ratio: {{ imageRatio }};">
                    {% render 'image', image: block.settings.icon_3 %}
                  </div>
              {% else %}
                {% render 'icons', icon: block.settings.icon_list_3 %}
              {% endif %}
            </span>
            {% if block.settings.text_3 != blank %}
              <p class="custom-icons-text">{{ block.settings.text_3 }}</p>
            {% endif %}
          </li>
        </ul>
      </div>
  {% endcase %}
{% endfor %}
<script>
  // document.addEventListener('DOMContentLoaded', function() {  
  //     const dropdowns = document.querySelectorAll('.custom-select-content');      
  //     dropdowns.forEach(dropdown => {
  //     const items = dropdown.querySelectorAll('.custom-select-item');          
  //     // Handle keyboard navigation and focus
  //     dropdown.addEventListener('keydown', function(event) {
  //       const focusedItem = dropdown.querySelector('.custom-select-item.focused');
  //       let focusedIndex = Array.from(items).indexOf(focusedItem);
  //       if (event.key === 'ArrowDown') {
  //         event.preventDefault();
  //         focusedIndex = (focusedIndex + 1) % items.length;
  //         items[focusedIndex].focus();
  //         updateFocus(focusedIndex);
  //       } else if (event.key === 'ArrowUp') {
  //         event.preventDefault();
  //         focusedIndex = (focusedIndex - 1 + items.length) % items.length;
  //         items[focusedIndex].focus();
  //         updateFocus(focusedIndex);
  //       } else if (event.key === 'Enter') {
  //         event.preventDefault();
  //         if (focusedItem) {
  //           focusedItem.querySelector('.option').click();
  //         }
  //       }
  //     });

  //     function updateFocus(index) {
  //       items.forEach((item, i) => {
  //         if (i === index) {
  //           item.classList.add('focused');
  //         } else {
  //           item.classList.remove('focused');
  //         }
  //       });
  //     }
        
  //     items.forEach((item, index) => {
  //       item.addEventListener('focus', () => {
  //           updateFocus(index);
  //       });
  //     });
  //   });     
  // });
  </script> 