{%- liquid
    if article.image != blank
    if image_sizes
     assign gridImageSize = image_sizes 
    else
     assign gridImageSize = settings.blog_grid_image_size
    endif

    if gridImageSize == 'landscape'
        assign imageRatio = 75
      elsif gridImageSize == 'square'
        assign imageRatio = 100
      elsif gridImageSize == 'portrait'
        assign imageRatio = 125
      else
        assign imageRatio = 1 | divided_by: article.image.src.aspect_ratio | times: 100
      endif
    else
      assign imageRatio = 100
    endif
  %}
<div class="animate-hvr blog-post-img" {% if animation %} data-aos="fade-up" data-aos-duration="{{ aos_duration }}" data-aos-easing="linear"{% endif %}>
    <div class="media-box" style="--image-ratio: {{ imageRatio }}%">
      {% if article.image != blank %}
        {% render 'image', image: article.image.src %}
      {% else %}
        {{ 'blog-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    {% if section.settings.show_date %}
    <div class="blog-post-info">
      <span class="blog-post-time">
        {% if article != blank %}
            {{ article.published_at | date: '%B %d, %Y' }}
        {% else %}
            {{ 'blogs.onboarding_article.date' | t }}
        {% endif %}
        </span>
    </div>
    {% endif %}
  </div>
  <div class="blog-post-content">
    <h4 class="blog-post-title">
        {% if article != blank %}
            {{ article.title }}
          {% else %}
            {{ 'blogs.onboarding_article.title' | t }}
          {% endif %}
    </h4>
    {% if section.settings.show_excerpt  %}
        {% if article != blank or article.excerpt_or_content != blank %}
            <p class="blog-post-desc text-medium">
                {{ article.excerpt_or_content | strip_html | truncatewords: 10 }}
            </p>
      {% else %}
        <p class="blog-post-desc text-medium">{{ 'blogs.onboarding_article.content' | t }}</p>
      {% endif %}
    {% endif %}

    <{% if article != blank %}a  href="{{ article.url }}" {% else %}div{% endif %} class="text-underline text-small">
        <span>{{- 'sections.featured_blog.read_more' | t -}}</span>
    </{% if article != blank %}a{% else %}div{% endif %}>
</div>