
{{ 'password.css' | asset_url | stylesheet_tag }}

<div class="section-container password-main scheme-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="passowrd-content-wrapper">
      <div class="password-content">
        <a href="{{ routes.root_url }}" class="password-img">
          {%- if section.settings.logo_pw != blank -%}
            {%- assign image_2x_size = section.settings.logo_max_width | times: 2 | at_most: 2560 -%}
            <img
              srcset="{{ section.settings.logo_pw | image_url: width: section.settings.logo_max_width }} 1x, {{ section.settings.logo_pw | image_url: width: image_2x_size }} 2x"
              src="{{ section.settings.logo_pw | image_url: width: section.settings.logo_max_width }}"
              loading="lazy"
              class="true lazyload"
              width="{{ section.settings.logo_max_width }}"
              height="{{ section.settings.logo_max_width | divided_by : section.settings.logo_pw.aspect_ratio | round }}"
              alt="{{ section.settings.logo_pw.alt | default: shop.name | escape }}"
            >
            {% else %}
            <span>{{ shop.name }}</span>
          {% endif %}
        </a>
        {% if section.settings.heading != blank %}
          <h2 class="password-heading h1"> {{ section.settings.heading }} </h2>
          {%- else -%}
          <h2 class="password-heading h1">{{ 'general.password_page.opening_soon' | t }}</h2>
        {%- endif -%}
        {% if section.settings.description != blank %}
          <p class="password-desc">{{ section.settings.description | escape }}</p>
        {% endif %}
        {%- if section.settings.show_newsletter -%}
          <div class="password-form">
            {% form 'customer' %}
              {%- if form.errors -%}
                <div class="newsletter-form__message error-message" id="Newsletter-error--{{ section.id }}">
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </div>
              {%- endif -%}
              {% if form.posted_successfully? %}
                <p class="success-message"> {{ 'newsletter.success' | t }} </p>
              {% endif %}
              <input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="form-group">
                <label class="hidden" for="Email">{{ 'newsletter.label' | t }}</label>
                <input
                  class="form-control input-md"
                  type="email"
                  name="contact[email]"
                  id="Email"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  placeholder="{{ 'newsletter.label' | t }}"
                  value="{{ form.email }}"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error--{{ section.id }}"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success--{{ section.id }}"
                  {% endif %}
                  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
                  required
                >
              </div>
             
              <button type="submit" name="commit" class="button large-btn btn-block" >
                <span>{{ 'sections.password_page.login_form_submit' | t }}</span>
              </button>
             
            {%- endform -%}
          </div>
        {%- endif -%}
        {%- if shop.password_message != blank -%}
          <div class="password-content-desc rte">
            {{ shop.password_message }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="enter-password-button">
    <a href="#password" class="enter-password-link text-underline" data-popup-header>{{ 'sections.password_page.login_password_button' | t }}</a>
  </div>
  <div id="password" class="password-popup" data-popup-body>
    <a href="#" class="password-popup-close" aria-label="Close" data-popup-close>
      <svg viewBox="0 0 23.1 23.08" fill="currentColor">
        <g>
          <path d="m13.3,11.55L22.75,2.09c.46-.48.46-1.23,0-1.72-.23-.23-.54-.36-.87-.36h-.01c-.33,0-.65.13-.88.35l-9.44,9.44L2.1.35c-.48-.47-1.23-.46-1.72,0C.15.58.01.9,0,1.23c0,.33.12.65.35.89l9.43,9.43L.36,20.99c-.23.24-.36.55-.36.87s.12.64.36.87c.44.44,1.31.44,1.75,0l9.44-9.44,9.44,9.44c.22.22.54.35.87.35s.65-.13.87-.35c.23-.23.36-.55.36-.88s-.13-.64-.36-.87l-9.43-9.43Z"></path>
        </g> 
      </svg>
    </a>
    <div class="container">
      <div class="password-popup-content">
        <div class="password-popup-content-inner">
          {%- if section.settings.password_heading != blank -%}
            <h2 class="password-heading h1"> {{ section.settings.password_heading }} </h2>
          {%- endif -%}
          {%- if section.settings.password_description != blank -%}
            <p class="password-desc ">{{ section.settings.password_description | escape }}</p>
          {%- endif -%}
          <div class="password-form">
            {% form 'storefront_password', class: 'password-form' %}
              {% if form.errors %}
                <div id="form-password-error" class="error-message">
                  {{ form.errors | default_errors }} 
                </div>
              {%- endif -%}
              <input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="form-group">
                <label class="hidden" for="Password"> {{- 'general.password_page.login_form_password_label' | t -}} </label>
                <input
                  class="form-control input-md"
                  type="password"
                  name="password"
                  id="Password"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  value=""
                  required
                >
                </div>
                <button class="button large-btn btn-block">          
                <span>{{ 'sections.password_page.password_button' | t }}</span>
              </button>
            {% endform %}
          </div>
          <p class="password-content-desc text-center">{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
  
  {% schema %}
  {
    "name": "t:sections.main-password.name",
    "class": "password",
    "templates": ["password"],
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_pw",
        "label": "t:sections.main-password.settings.logo.label",
        "info": "t:sections.main-password.settings.logo.info"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 100,
        "max": 400,
        "step": 20,
        "unit": "px",
        "label": "t:sections.main-password.settings.logo_max_width.label",
        "default": 120
      },
      {
        "type": "header",
        "content": "t:global.header.text_section.label"
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t:global.common.general_labels.heading",
        "default": "Opening soon"
      },
      {
        "type": "text",
        "id": "description",
        "label": "t:global.common.general_labels.description",
        "default": "Find out when we open"
      },
      {
        "type": "inline_richtext",
        "id": "password_heading",
        "label": "t:sections.main-password.settings.password_heading.label",
        "default": "Enter password"
      },
      {
        "type": "text",
        "id": "password_description",
        "label": "t:global.common.general_labels.description"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "t:sections.main-password.settings.show_newsletter.label",
        "default": true
      },
      {
      "type": "header",
      "content": "t:global.header.color_section.label"
    }, 
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "secondary",
        "label": "t:global.header.color_scheme.label"
      }
      
    ]
  }
  {% endschema %}
  